@font-face {
  font-family: "DM_Sans";
  src:
    url("assets/fonts/dmsans-variablefont_opszwght-webfont.woff2")
      format("woff2"),
    url("assets/fonts/dmsans-variablefont_opszwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans_Italic";
  src:
    url("assets/fonts/dmsans-italic-variablefont_opszwght-webfont.woff2")
      format("woff2"),
    url("assets/fonts/dmsans-italic-variablefont_opszwght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body > *,
main > * {
  /* For development purposes only */
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;
  font-family: "DM_Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--black);
  background-color: #f5f5f5;

  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body > * {
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

/* MAIN */
main {
  padding-top: 0;

  section > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;

    .card {
      width: 100%;
      border-radius: 5px;
      padding: 1rem;

      background-color: var(--white);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .yellow {
        color: var(--yellow-500);
      }

      .italic {
        font-family: "DM_Sans_Italic", Arial, Helvetica, sans-serif;
      }

      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 1rem 0;
        max-width: 20ch;
      }

      p {
        margin: 1rem 0;
      }
    }

    #card-1,
    #card-5 {
      background-color: var(--purple-500);
      color: var(--white);
    }

    #card-3,
    #card-8 {
      background-color: var(--yellow-500);
    }

    #card-4 {
      background-color: var(--purple-100);
    }

    #card-7 {
      background-color: var(--yellow-100);
    }

    #card-1 {
      text-align: center;
      padding-left: 2rem;
      padding-right: 2rem;

      h2 {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      img {
        width: 75%;
      }

      p {
        margin-top: 0.5rem;
      }
    }

    #card-2 {
      padding-bottom: 0;
    }

    #card-3 {
      padding-top: 0;
      padding-bottom: 0;
      align-items: flex-start;
      overflow: hidden;

      h2 {
        margin-bottom: 0;
      }

      img {
        width: 60%;
        transform: translateY(1rem);
      }
    }

    #card-4 {
      p {
        text-align: center;
      }
    }

    #card-5 {
      h2 {
        max-width: 12ch;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
